@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Pacifico&display=swap');
.topnav{ 
    border-bottom: 1px solid rgb(243, 113, 215);
    display: flex;
    background-color: black;
    color: rgb(248, 245, 246);;
    
  }
  .topnav span{
    color: red;
  }
  .nav{
    width: 53%;
    padding: 30px;
   margin-left: 500px; 
   border: 0px solid red;

    
  }
    .nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 25px; 
      justify-content: space-between;


  
  }
  li a{
    color:rgb(248, 245, 246);;
    text-decoration: none;
    padding: 5px ;
  }
  li:hover{
    background-color: rgb(171, 164, 156);
    border-radius: 10PX;
  }
  .topnav p{
  font-weight: 10px;
  font-size: 30px;
  text-indent: 40px;
  }
.contact{
    background-color: rgb(24, 17, 17);
    display: flex;
    flex-direction: column;  
    padding: 50px;
     height: 100vh;
    font-family: 'Edu VIC WA NT Beginner' ;
    
}
.contact h1{
    color: rgb(248, 245, 246);;
    padding:0% 10%;
    font-size: 60px;
    
}
.contact2{
     display: flex;
            flex-direction: row; 
            justify-content: space-around; 
            width: 60%; 
            height: 150px;
            
}
.add{
    background-color: black;
            padding: 20px;
            flex: 1; 
            margin: 10px;
            text-align: center;
            color:rgb(248, 245, 246);;
}
.form{
    color: rgb(248, 245, 246);;
    background-color: black;
    border: 5px solid rgb(161, 49, 137);
    border-radius: 20px;
    text-align: center;
    margin-left: 900px;
    width: 30%;
    margin-top: -150px;
    height: 50%;
}
.map img{
    height: 200px;
    width: 350px;
}
.form button{
    border: 1px solid rgb(137, 43, 138);
    font-size: 20px;
    border-radius: 10px;
    margin-top: 40px;

}
.form button:hover{
background-color: rgb(226, 144, 43);
}
.form input{
border-bottom: 1px solid white;
background: none;
}
.form textarea{
    border-bottom: 1px solid white;
    background: none;
}